<section role="banner">
    <div class="relative h-screen w-full bg-radial from-[#FEF0FF] to-[#F7E1F9] before:content-[''] before:absolute before:bg-linear-to-t before:from-black before:to-transparent before:opacity-30 before:h-40 before:w-full before:bottom-0">
        <div class="absolute inset-0 flex items-center justify-center">
            <div class="text-center text-white px-4">
                <h2 class="xl:text-4xl lg:text-3xl md:text-2xl sm:text-xl text-lg font-bold text-[#222222] text-left">Sugar Bliss <span class="font-medium xl:text-3xl lg:text-2xl md:text-xl sm:text-lg text-base">by Flor</span></h2>
                <h1 class="xl:text-8xl lg:text-7xl md:text-6xl sm:text-5xl text-4xl font-bold font-poppins text-[#333333] text-left">Amor a primera <br><span class="text-[#EF5DA8] xl:text-[185px] lg:text-[138px] md:text-[115px] sm:text-[100px] text-[69px]">Mordida</span></h1>
                <img src="/images/HeroLine.png" class="xl:w-195 lg:w-150 md:w-120 sm:w-104 w-80 mb-4 pointer-events-none" alt="Decorative line">
                <h3 class=" text-[#222222] text-right xl:text-4xl lg:text-3xl md:text-2xl sm:text-xl text-base font-medium z-100">Endulzamos tus momentos especiales</h3>
                <svg class="absolute bottom-16 left-1/2 transform -translate-x-1/2 animate-bounce" width="63" height="30" viewBox="0 0 63 30" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="m2 2 30.046 24.8L60.9 2" stroke="#fff" stroke-width="4" stroke-linecap="round"/></svg>
                <img src="/images/LoveTape3.png" class="absolute xl:bottom-[-30vw] md:bottom-[-30vw] bottom-[-25vw] left-0 w-full pointer-events-none z-0" alt="Decorative tape">
                <img src="/images/LoveTape2.png" class="absolute xl:bottom-[-20vw] md:bottom-[-20vw] bottom-[-15vw] left-0 w-full pointer-events-none z-0" alt="Decorative tape">
                <img src="/images/LoveTape1.png" class="absolute xl:top-[-10vw] md:top-[-10vw] top-[-1vw] left-0 w-full pointer-events-none z-0" alt="Decorative tape">
            </div>
        </div>
    </div>

</section>